<!DOCTYPE html>
<html>
  <head>
    <title>Urania</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<%# #ユーザーが鑑定画面をみることができるページ %>
<body>

<div class="Wrapper">
<div class="sellHeader">
</a></div>

<div class="field">
<div class="field_box">
<h2 class="field_box__text">
診断結果
</h2>
<hr class="formCutter">


<h2 class="field_box__urania">
健康運
</h2>
<h4>日々健康に過ごす事ができるでしょう。
<p>とても健やかで活き活きとしているあなたの未来が診断結果を通してしっかりと見えますよ！</h4></p>

<h2 class="field_box__urania">
金運
</h2>
<h4>巨万の富に恵まれて、人生を謳歌しているあなたの未来が見えます
<p></h4></p>

<h2 class="field_box__urania">
恋愛運
</h2>
</div>
<%# <form id="new_user" class="new_user" action="/users" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="ZXzK7qtfFpidEo2PqX/siJNQTs0gSHbiMHIpcJyOMvMjj0JFlGdrUyz+Wzfwhh1PurJR4H5TA4jBO40mJ6HWsA=="><div class="field__boxColumn">
<span>ニックネーム</span>
<span class="field__boxColumn__essential">
必須
</span>
<br>
<div class="field__boxColumn__input__marginT25">
<input autofocus="autofocus" autocomplete="name" placeholder="ニックネームを入力してください" class="field__boxColumn__text" type="text" name="user[name]" id="user_name">
</div>
</div>
<div class="field__boxColumn">
<span>メールアドレス</span>
<span class="field__boxColumn__essential">
必須
</span>
<br>
<div class="field__boxColumn__input__marginT25">
<input autofocus="autofocus" autocomplete="email" placeholder="アドレスを入力してください" class="field__boxColumn__text" type="email" value="" name="user[email]" id="user_email">
</div>
</div>
<div class="field__boxColumn">
<span>パスワード</span>
<span class="field__boxColumn__essential">
必須
</span>
<div class="field__boxColumn__input__marginT25">
<input autocomplete="new-password" placeholder="7文字以上で入力してください" class="field__boxColumn__text" type="password" name="user[password]" id="user_password">
</div> %>
<%# </div>
<div class="field__boxColumn">
<span>パスワード（確認用）</span>
<span class="field__boxColumn__essential">
必須
</span>
<br>
<div class="field__boxColumn__input__marginT25">
<input autocomplete="new-password" placeholder="確認用パスワードを入力してください" class="field__boxColumn__text" type="password" name="user[password_confirmation]" id="user_password_confirmation">
</div>
</div>
<div class="field__boxColumn">
<div class="field__boxColumnNext">
<input type="submit" name="commit" value="次へ進む" class="field__boxColumnNext__btn" data-disable-with="登録する">
</div>
</div>
</form></div> %>
<div class="sellfooter">
<%# </a>
<li class="sellfooter__bottom__note"> %>
</body>

</form>

</form>
  </body>
</html>
