<!DOCTYPE html>
<html>
  <head>
    <title>Urania</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<%# #ユーザーが鑑定画面をみることができるページ %>
<body>

<div class="Wrapper">
<div class="sellHeader">
</a></div>

<div class="field">
<h2 class="field_box__text">
診断結果
</h2>
<hr class="formCutter">

<h2 class="field_box__urania">
健康運
</h2>
テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト！
<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
<h2 class="field_box__urania">
金運
</h2>
<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>

<h2 class="field_box__urania">
恋愛運
</h2>
<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト!</p>

</body>

</form>

</form>
  </body>
</html>
