.wrapper{
  min-height: 100vh;
  position: relative;
}

header {
  display: block;
  height: 50px;
  background-color: rgb(247, 129, 168);
  align-items: center;
  padding: 50px 40px 60px;
  
}

.yello {
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;

}

.aqua {
  display: flex;
  margin-left: 690px;

}

.bule {
  display: flex;
  margin-left: 650px;
  margin-bottom: 60px;
  align-items: center;
  
}

.signup {
  background-color: pink;
  border: rgb(45, 234, 193);
  color: rgb(17, 14, 14);
  font-size: 15px;
  color: (255, 255, 255, 0.918);
  border-radius: 4px;
  padding: 8px 10px;
  text-decoration: none;
}
.roguin {
  background-color:aqua;
  border: rgb(68, 165, 245);
  color: rgb(16, 17, 14);
  font-size: 15px;
  color: (255, 255, 255, 0.918);
  border-radius: 4px;
  padding: 8px 10px;
  text-decoration: none;
}

footer{ 
  width: 100%;
  background-color: #89c7de;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  bottom: 0; 
}


